.gridwrapper {
    width: 100vw;
    height: 100vh;
    grid-template-columns: 3,5fr 1fr;
    grid-template-rows: 50px 50px 2fr 2fr 100px;
    display: grid;
    grid-template-areas: 
    "he he"
    "na na"
    "ma as"
    "se as"
    "fo fo"
    ;
}

header {
    grid-area: he;
}

nav {
    grid-area: na;
    background-color: grey;
}

aside {
    grid-area: as;
}

main {
    grid-area: ma;
}

section {
    grid-area: se;
}

footer {
    grid-area: fo;
}

.menu_wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns:2fr 2fr 2fr ;
    grid-template-rows: 50px 50px 3fr 100px;
    grid-template-areas: 
    "he he he"
    "na na na"
    "no fl ky"
    "fo fo fo"
    ;
}

#not {
    grid-area: no;
}

#flask {
    grid-area: fl;
}

#kyckling {
    grid-area: ky;
}

.boka_bord_wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1,5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px auto 100px;
    grid-template-areas:
    "he he he he he he he he"
    "na na na na na na na na"
    "ta ta ta ta ta ta ta ta"
    "fo fo fo fo fo fo fo fo"
    ;
}

table {
    grid-area: ta;
    border-collapse: separate;
    border-spacing: 0 30px;
}

th, td {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}

td {
    border-right: hidden;
}

.meny_lista {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.oppettider {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-around;
    border: 10px;
}

.menu_links {
    text-decoration: none;
    color: black;
}

#presentkort_pris {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
}

ol {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    list-style-type: none;
}